body{
    background-image: url('https://www.bazaaretcompagnie.com/wp-content/uploads/pieces-monnaie.jpg');
    background-size: cover;
}
.container0{
    height: 100%;
    background-color: white;
    width: 70%;
    margin: auto;
    
}
.container1, .container2{
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border: 2px solid black;
}
.container3{
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.container3>.boutonEnvoi{
    width: 45%;
}
.container3>.boutonReset{
    width: 45%;
}
h1{
    text-align: center;
}